table {
    border: 2px solid black;
    background: wheat;
    border-collapse: collapse;
    text-align: center;
}
td {
    border: 1px solid black;
    padding: 10px;
}
thead {
    font-weight: bolder;
}
thead {
    font-weight: bolder;
}